{% extends "home/index.html" %}
{% load static %}
{% block ChangingContent %}

<h2>Detalles del libro:</h2>
<hr>
<div class="card">
    <div class="card-body">
        <div class="div row">
            <div class="col-6">
                <p><strong>Libro:</strong> {{ object.name }}</p>
                <p><strong>Género:</strong> {{ object.genre }}</p>
                <p><strong>Autor:</strong> {{ object.author }}</p>
                <p><strong>Fecha de publicación:</strong> {{ object.publication_date }}</p>
                <h4>Descripción:</h4>
                <p>{{ object.description | safe}}</p>
            </div>
            <div class="col-6 text-center">
                <img src="../media/{{object.imagen}}" alt="no foto" style="width:50%">                
            </div>
        </div>
    </div>
</div>

<a class="btn btn-warning btn-sm " href="{% url 'home:home-list' %}"><i class="fas fa-undo"></i> libros del catálogo</a>
<!-- {{home}} -->
        
{% if user.is_superuser %}
|
<a class="btn btn-info btn-sm" href="{% url 'home:home-update' object.id %}"><i class="fas fa-edit"></i> Editar </a>
|
<a class="btn btn-danger btn-sm" href="{% url 'home:home-delete' object.id %}"><i class="fas fa-trash"></i> Borrar </a>
{% endif %}

    <a class="btn btn-danger btn-sm" href="{% url 'comment:comment-list' %}"><i class="fas fa-comment"></i> ¡Mira nuestros comentarios!</a>

{% endblock %}

