{% extends "home/index.html" %}
{% load static %}
{% block ChangingContent %}

<h2>Detalles del comentario:</h2>
<hr></hr>
<p><h3>Título del comentario: {{ object.titulo_del_comentario }}</h3></p>
<p><strong> Fecha del comentario:</strong>  {{ object.comment_date }}</p>
<p><strong> Autor del comentario:</strong> {{ object.autor_del_comentario }}</p>
<p><strong> Libro comentado:</strong> {{ object.libro_comentado }}</p>

<h4>Comentario:</h4>
<p>{{ object.comentario | safe }}</p>
<a class="btn btn-primary" href="{% url 'comment:comment-list' %}"><i class="fas fa-undo"></i> Regresar al portal de comentarios</a>
{% endblock %}

