{% extends "home/index.html" %}
{% load static %}
{% block ChangingContent %}

<h2>Comentarios creados:</h2>
{% if user.is_authenticated %}
<a class="card_custom" href="{% url 'comment:comment-add' %}">¡Crea un comentario nuevo!</a>
{% endif %}
<hr></hr>
<ul>
    {% for comment in comentario_list %}
    <li>
        {{comment}}
        (
            <a href="{% url 'comment:comment-detail' comment.id %}">Detalles del comentario</a>
        {% if user.is_authenticated %}
        |
        <a href="{% url 'comment:comment-update' comment.id %}">Editar el comentario</a>
        |
        <a href="{% url 'comment:comment-delete' comment.id %}">Borrar el comentario</a>
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}