{% extends "home/index.html" %}
{% load static %}
{% block ChangingContent %}

<h2>Detalles del mensaje enviado:</h2>
<hr></hr>
<p><h3>Título del mensaje: {{ object.nombre_del_mensaje }}</h3></p>
<p><h4>Fecha de envio: {{ object.message_date }}</h4></p>
<p><h4>Destinatario: {{ object.destinatario }}</h4></p>

<h4>Mensaje:</h4>
<p><textarea readonly rows="7" cols="90" >{{ object.mensaje }}</textarea></p>
<p><a class="btn2 btn-primary" href="{% url 'message:message-list' %}">Regresar al portal de mensajería</a></p>
{% endblock %}