{% extends "home/index.html" %}
{% load static %}
{% block ChangingContent %}

<h2>Mensajes enviados:</h2>
{% if user.is_authenticated %}
<a class="card_custom" href="{% url 'message:message-add' %}">¡Envía un mensaje nuevo!</a>
{% endif %}
<hr></hr>
<ul>
    {% for message in message_list %}
    <li>
        {{message}}
        (
            <a href="{% url 'message:message-detail' message.id %}">Detalles del mensaje</a>
        {% if user.is_authenticated %}
       
        {% endif %}
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}